body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: calc(100% - 22px); 
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5C67F2;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4a54e1;
}
